# Set vi mode
set editing-mode vi

# vi settings
$if mode=vi
    # normal mode
    set keymap vi-command
    # insert mode
    set keymap vi-insert
    # remap
    "jk": vi-movement-mode
    "kj": vi-movement-mode
$endif

set show-mode-in-prompt on
set vi-cmd-mode-string "\1\e[2 q\2"
set vi-ins-mode-string "\1\e[6 q\2"
